@model Stokpas.Models.ProductModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>ProductModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="shop_id" class="control-label"></label>
                <input asp-for="shop_id" class="form-control" />
                <span asp-validation-for="shop_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_url" class="control-label"></label>
                <input asp-for="product_url" class="form-control" />
                <span asp-validation-for="product_url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_sku" class="control-label"></label>
                <input asp-for="product_sku" class="form-control" />
                <span asp-validation-for="product_sku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_name" class="control-label"></label>
                <input asp-for="product_name" class="form-control" />
                <span asp-validation-for="product_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_description" class="control-label"></label>
                <input asp-for="product_description" class="form-control" />
                <span asp-validation-for="product_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_short_description" class="control-label"></label>
                <input asp-for="product_short_description" class="form-control" />
                <span asp-validation-for="product_short_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="min_order" class="control-label"></label>
                <input asp-for="min_order" class="form-control" />
                <span asp-validation-for="min_order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="etalase" class="control-label"></label>
                <input asp-for="etalase" class="form-control" />
                <span asp-validation-for="etalase" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_must_insurance" /> @Html.DisplayNameFor(model => model.is_must_insurance)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_free_return" /> @Html.DisplayNameFor(model => model.is_free_return)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_eligible_cod" /> @Html.DisplayNameFor(model => model.is_eligible_cod)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="currency" class="control-label"></label>
                <input asp-for="currency" class="form-control" />
                <span asp-validation-for="currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="condition" class="control-label"></label>
                <input asp-for="condition" class="form-control" />
                <span asp-validation-for="condition" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="has_variation" /> @Html.DisplayNameFor(model => model.has_variation)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="original_price" class="control-label"></label>
                <input asp-for="original_price" class="form-control" />
                <span asp-validation-for="original_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weight" class="control-label"></label>
                <input asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weight_unit" class="control-label"></label>
                <input asp-for="weight_unit" class="form-control" />
                <span asp-validation-for="weight_unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timestamp" class="control-label"></label>
                <input asp-for="timestamp" class="form-control" />
                <span asp-validation-for="timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rating_star" class="control-label"></label>
                <input asp-for="rating_star" class="form-control" />
                <span asp-validation-for="rating_star" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comment_count" class="control-label"></label>
                <input asp-for="comment_count" class="form-control" />
                <span asp-validation-for="comment_count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="review_count" class="control-label"></label>
                <input asp-for="review_count" class="form-control" />
                <span asp-validation-for="review_count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transaction_success" class="control-label"></label>
                <input asp-for="transaction_success" class="form-control" />
                <span asp-validation-for="transaction_success" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transaction_reject" class="control-label"></label>
                <input asp-for="transaction_reject" class="form-control" />
                <span asp-validation-for="transaction_reject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sales" class="control-label"></label>
                <input asp-for="sales" class="form-control" />
                <span asp-validation-for="sales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="view" class="control-label"></label>
                <input asp-for="view" class="form-control" />
                <span asp-validation-for="view" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="like" class="control-label"></label>
                <input asp-for="like" class="form-control" />
                <span asp-validation-for="like" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="package_length" class="control-label"></label>
                <input asp-for="package_length" class="form-control" />
                <span asp-validation-for="package_length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="package_width" class="control-label"></label>
                <input asp-for="package_width" class="form-control" />
                <span asp-validation-for="package_width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="package_height" class="control-label"></label>
                <input asp-for="package_height" class="form-control" />
                <span asp-validation-for="package_height" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_pre_order" /> @Html.DisplayNameFor(model => model.is_pre_order)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="days_to_ship" class="control-label"></label>
                <input asp-for="days_to_ship" class="form-control" />
                <span asp-validation-for="days_to_ship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="discount_id" class="control-label"></label>
                <input asp-for="discount_id" class="form-control" />
                <span asp-validation-for="discount_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="warning" class="control-label"></label>
                <input asp-for="warning" class="form-control" />
                <span asp-validation-for="warning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_on" class="control-label"></label>
                <input asp-for="created_on" class="form-control" />
                <span asp-validation-for="created_on" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_by" class="control-label"></label>
                <input asp-for="created_by" class="form-control" />
                <span asp-validation-for="created_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modified_on" class="control-label"></label>
                <input asp-for="modified_on" class="form-control" />
                <span asp-validation-for="modified_on" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modified_by" class="control-label"></label>
                <input asp-for="modified_by" class="form-control" />
                <span asp-validation-for="modified_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="request_id" class="control-label"></label>
                <input asp-for="request_id" class="form-control" />
                <span asp-validation-for="request_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
