@model IEnumerable<Stokpas.Models.Products>

@{
    ViewData["Title"] = "Produk";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>View Listing</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Listings">Product</a></li>
                        <li class="breadcrumb-item active">View</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <br />
        @*<form asp-controller="Listings" asp-action="Index" method="get">
            <p>

                Tipe Properti: <select id="PropertyType" name="PropertyType" asp-items="Model.PropertyType">
                    <option value="">All</option>
                </select>
                &nbsp;&nbsp;
                Judul: <input type="text" asp-for="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" />
            </p>
        </form>*@
                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.images)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_sku)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.price)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.stock)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.weight)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.weight_unit)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.rating_star)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.sales)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.view)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.created_on)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="@Url.Content(item.images.ElementAt(0).image_file_path)" alt="@Url.Content(item.images.ElementAt(0).image_file_path)" width="100" height="100" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.product_sku)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.product_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.stock)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.weight)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.weight_unit)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.rating_star)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.sales)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.view)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.created_on)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.product_id">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.product_id">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.product_id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

        @*<ul class="pagination">
            <a asp-action="Index"
               asp-area="ss"
               asp-route-pageNumber="1"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default">
                First
            </a>
            @for (var i = 1; i <= Model.Listings.TotalPages; i++)
            {
                <li class="page-item @(i == Model.Listings.PageIndex ? "active" : "")">
                    <a asp-action="Index" asp-area="ss" asp-route-pageNumber="@i" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="page-link">@i</a>
                </li>
            }
            <a asp-action="Index"
               asp-area="ss"
               asp-route-pageNumber="@(Model.Listings.TotalPages)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default">
                Last
            </a>
        </ul>*@
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
