@model IEnumerable<Stokpas.Models.ProductModel>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>View Listing</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Listings">Listing</a></li>
                        <li class="breadcrumb-item active">View</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <br />
        @*<form asp-controller="Listings" asp-action="Index" method="get">
            <p>

                Tipe Properti: <select id="PropertyType" name="PropertyType" asp-items="Model.PropertyType">
                    <option value="">All</option>
                </select>
                &nbsp;&nbsp;
                Judul: <input type="text" asp-for="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" />
            </p>
        </form>*@
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.shop_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.product_url)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.product_sku)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.product_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.product_description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.product_short_description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.min_order)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.etalase)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.is_must_insurance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.is_free_return)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.is_eligible_cod)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.currency)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.condition)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.has_variation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.original_price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.stock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.weight)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.weight_unit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.timestamp)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.rating_star)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.comment_count)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.review_count)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.transaction_success)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.transaction_reject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.sales)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.view)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.like)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.package_length)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.package_width)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.package_height)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.is_pre_order)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.days_to_ship)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.discount_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.warning)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.created_on)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.created_by)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.modified_on)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.modified_by)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.request_id)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.shop_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.product_url)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.product_sku)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.product_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.product_description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.product_short_description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.min_order)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.etalase)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.is_must_insurance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.is_free_return)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.is_eligible_cod)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.currency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.condition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.has_variation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.original_price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.stock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.weight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.weight_unit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.timestamp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rating_star)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.comment_count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.review_count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.transaction_success)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.transaction_reject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sales)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.view)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.like)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.package_length)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.package_width)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.package_height)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.is_pre_order)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.days_to_ship)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.discount_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.warning)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.created_on)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.created_by)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.modified_on)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.modified_by)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.request_id)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.product_id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.product_id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.product_id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<ul class="pagination">
            <a asp-action="Index"
               asp-area="ss"
               asp-route-pageNumber="1"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default">
                First
            </a>
            @for (var i = 1; i <= Model.Listings.TotalPages; i++)
            {
                <li class="page-item @(i == Model.Listings.PageIndex ? "active" : "")">
                    <a asp-action="Index" asp-area="ss" asp-route-pageNumber="@i" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="page-link">@i</a>
                </li>
            }
            <a asp-action="Index"
               asp-area="ss"
               asp-route-pageNumber="@(Model.Listings.TotalPages)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default">
                Last
            </a>
        </ul>*@
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
